* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/* Typography */

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

.title {
    color: #fff;
    font-weight: 300;
    max-width: 500px;
    margin: 0 auto;
}

.title-bold {
    font-weight: 900;
}

.join-webinar {
    color: #f18119;
    text-transform: uppercase;
}

.catchphrase {
    color: #f18119;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 auto;
    padding-top: 2px;
    border-top: 5px solid #f18119;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}

.form-subtitle {
    color: #f18119;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0.2em;
}

.fine-print {
    font-size: 0.7rem;
    letter-spacing: 1px;
}


/* Layout */

.container-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ribs.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    padding: 0em 3em 1em 3em;
}

.form-title {
    margin: 0;
}

.form-reg-today {
    margin-top:  0;
}

.container-form {
    width: 80%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-container-form {
    width: 80%;
    margin: 0 auto;
}

.container-sign-up {
    width: 80%;
    margin: 0 auto;
}

input {
    display: block;
    width: 100%;
    font-family: inherit;
    text-align: inherit;
    padding: .25em;
    margin-bottom: .75em;
    border: 1px solid #404040;
    border-radius: 5px;
    /* transition: transform 250ms;
    transform: scale(1); */
}

/* input:focus {
    transform: scale(1.1);
} */

.btn-register {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    background: linear-gradient(to left, #ff713b, #ffa51d);
    border: none;
    padding: 1em 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 250ms;
    transform: scale(1);
}

.btn-register:hover,
.btn-register:focus {
    transform: scale(1.1);
}

@media (min-width: 600px) {
    body {
        display: flex;
        font-size: 1.125rem;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    .container-photo {
        width: 55%;
        min-height: 100vh;
    }
    
    .container-form {
        width: 45%;
    }
}